/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

body,
html {
  overscroll-behavior: none !important;
}

.cesium-widget-credits {
  display: none !important;
}

.secondary-view {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

@media (min-width: 640px) {
  .secondary-view {
    padding-left: 2.5rem;
    padding-right: 2.5rem;
  }
}

.cesium-viewer {
  background-color: transparent;
}

.cesium-viewer-cesiumWidgetContainer {
  background-color: var(--cesium-bg-color, rgba(255, 255, 255, 1));
}

.cesium-widget {
  background-color: transparent;
}

#preview {
  position: absolute;
  z-index: 1000;
  display: flex;
  flex-direction: row;
  justify-content: center;
  /* padding: 7px 7px; */
  line-height: 1.3;
  pointer-events: none;
}

#btn-wrapper-print {
  padding: 7px 7px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  pointer-events: none;
}

.print-tooltip-text {
  margin-bottom: 1%;
  text-shadow: 0px 0px 20px #fff, 0px 0px 20px #fff;
  pointer-events: none;
}

.print-button-wrapper {
  margin-left: auto;
  pointer-events: none;
}

.rectangle-button:hover {
  background-color: #888888;
  color: white;
  opacity: 1;
  border-radius: 4px;
  cursor: pointer;
  /* margin-left: auto;
  margin-left: auto; */
  text-align: center;
  margin-top: 4px;
}

.rectangle-button:disabled {
  background-color: #cecece;
  cursor: not-allowed;
}

.rectangle-prev {
  background-color: #123c6a;
  border-radius: 4px;
  opacity: 0.4;
}

#preview-tooltip-text {
  margin: auto;
  pointer-events: none;
}

.ant-select-selector {
  cursor: pointer !important;
}

.fade {
  opacity: 1;
  transition: opacity 0.5s ease;
}

.fade.hidden {
  opacity: 0;
  pointer-events: none;
}

.modal-content svg,
.modal-content img {
  display: inline;
}

/* Fix Tailwind's .collapse overriding Bootstrap's accordion collapse. */
/* .collapse.show {
  visibility: visible;
} */
/* Provoke affected projects to run */
.test-temp-class {
  background-color: red;
}
